openai~=2.14.0
openai-whisper==20231117
Flask~=3.1.2
logger~=1.4
transformers~=4.40.2
networkx~=3.4.2
pydub~=0.25.1
redis~=5.0.8
numpy~=1.26.4
soundfile~=0.13.1
aiohttp~=3.13.3
ffmpeg-python~=0.2.0
python-socketio~=5.16.0
pymediasoup~=1.2.1
aiortc~=1.10.1
dotenv~=0.9.9
python-dotenv~=1.2.1