<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <title>Whisper</title>
</head>

<body>
  <div class="parent">
    <div class="div1">
      <h1>Feliratozás</h1>
    </div>
    <div class="div4">
      <div class="logo">
        MW
      </div>
    </div>

    <div class="div3">
      <h1>Elérhető Szobák</h1>
      <div class="mb-3">
        <label class="form-label">Add room</label>
        <input type="text" id="roomName" class="form-control" placeholder="room name">
      </div>
      <button class="btn btn-primary" onclick="startRoom()">Add room</button>
      <button class="btn btn-primary" onclick="stopRoom()">Stop room</button>
      <button class="btn btn-primary" onclick="isRoomActive()">Get latest timestampId</button>
      <button class="btn btn-primary" onclick="listRooms()">List rooms</button>
      <button class="btn btn-primary" onclick="roomStatus()">Get Room Status</button>
      <button class="btn btn-primary" onclick="getLastText()">getLastText</button>
      <div class="mb-3">
        <label class="form-label">Timestamp ID</label>
        <input type="text" id="timestampId" class="form-control" placeholder="Timestamp ID">
      </div>
      <div class="bg-white" id="res">

      </div>


      <script>
        function startRoom() {
          $.getJSON('API/startRoom/'+$('#roomName').val(), function(data) {
            $('#timestampId').val(data.timestampId)
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }

        function listRooms() {
          $.getJSON('API/listRooms', function(data) {
            // TODO do not load in html and format
            $('#res').html(JSON.stringify(data))
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }

        function roomStatus() {
          $.getJSON('API/roomStatus/'+$('#roomName').val()+'/'+$('#timestampId').val(), function(data) {
            // TODO do not load in html and format
            $('#res').html(JSON.stringify(data))
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }
        // gets latest active room or returns false
        function isRoomActive() {
          $.getJSON('API/isRoomActive/'+$('#roomName').val(), function(data) {
            // TODO do not load in html and format
            $('#res').html(JSON.stringify(data))
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }
        function stopRoom() {
          $.getJSON('API/stopRoom/'+$('#roomName').val()+'/'+$('#timestampId').val(), function(data) {
            // TODO do not load in html and format
            $('#res').html(JSON.stringify(data))
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }
        function getLastText() {
          $.getJSON('API/getLastText/'+$('#roomName').val(), function(data) {
            // TODO do not load in html and format
            $('#res').html(JSON.stringify(data))
            setTimeout(getLastText, 5000);
          }).fail(function() {
            console.error('Failed to fetch.');
          });
        }
        
        
        /* function checkProgress() {
          $.get('/progress', function(data) {
            // Assume the server returns JSON like { percent: 42 }
            var percent = data;

            console.log('Progress:', percent + '%');
            $('#progress-bar').css('width', percent + '%').text(percent + '%');

            if (percent < 100) {
              // Check again after 5 seconds
              setTimeout(checkProgress, 5000);
            } else {
              console.log('Progress complete!');
            }
          }).fail(function() {
            console.error('Failed to fetch progress.');
            setTimeout(checkProgress, 5000); // Retry on failure
          });
        }

        // Start polling
        checkProgress(); */
    </script>



    </div>
    <div class="div2">
      <h3>Elérhető metódusok</h3>
      <nav class="vertical-nav">
        <a href="metodus1" class="nav-item">get_hang count()</a>
        <a href="metodus2" class="nav-item">get_audio_len()</a>
        <a href="metodus3" class="nav-item">get_all_words()</a>
      </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</body>

</html>